/* RESET  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* BASE LAYOUT */

body {
    font-family: sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-4 {    
    flex-basis: calc(((100% / 12) * 4) - 15px);
}

/* HEADER FOOTER */

.page-header {
    height: 60px;
    background-color: #FF6900;
    box-shadow: 0px 3px 5px rgb(161, 161, 161);
}

.page-footer {
    height: 80px;
    background-color: #1A1A1A;
    border-bottom: 1px solid white;
}

/* GALLERY */

.item-card {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.item-img, .alt-img {
    margin-bottom: 8px;
    transition: all 300ms ease-in-out;
}

.item-img {
    position: relative;
    left: 0%;    
}

.item-card:hover .item-img {
    left: -100%;
}

.alt-img {
    position: absolute;    
    top: 0px;
    left: 100%;    
}

.item-card:hover .alt-img {
    left: 0%;
}

.item-brand {
    font-size: 11px;
    line-height: 6px;
}

.item-name {
    font-size: 17px;
    line-height: 28px;
    font-weight: bold;
}

.item-price {
    font-size: 11px;
    line-height: 6px;
    font-weight: bold;
    color: red;
    padding-bottom: 5px;
}

.old-price {
    color: black;
    font-weight: normal;
    text-decoration: line-through;
}

.card-overlay {
    position: absolute;
    bottom: 100px;
    color: white;
    column-gap: 4px;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
}

.ov-red, .ov-green {
    background-color: red;
    padding-inline: 8px;
}

.ov-red {
    background-color: red;
}

.ov-green {
    background-color: green;
}

.card-fav {
    position: absolute;
    right: 0px;
    top: 10px;
    height: 34px;
    width: 30px;
    padding: 6px;
    fill: black;
    background-color: white;
    transition: all 300ms;  
    cursor: pointer;  
}

.card-fav:active {
    fill: white;
    background-color: rgb(204, 83, 100);
}

.card-fav:hover {
    fill: white;
    background-color: rgb(204, 83, 100);
}


/* DEBUG */

.debug [class^=page-] {
    padding: 20px;
}

.debug .page-header, 
.debug .page-footer {
    background-color: rgb(145, 211, 236);
}

.debug .container {
    border: 1px dotted rgb(89, 81, 117);
    /* padding: 20px; */
}

.debug [class^=col] {
    border: 1px dotted rgb(89, 81, 117);
    min-height: 60px;
}